---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import Header from '../components/Header.astro';
---

<Layout title='Alan Birrueta | Desarrollo web'>
  <main>
    <Header />
  </main>
</Layout>
