---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
---

<Layout
  title='Alan Birrueta | Proyectos'
  description='Proyectos que he realizado'
>
  <main>Proyectos</main>
</Layout>
