---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
---

<Layout
  title='Alan Birrueta | About'
  description='Desarrollador web en Mazatlán, creando sitios únicos y funcionales. Explora mi portafolio y transforma tu idea en un sitio web profesional.'
>
  <main>About</main>
</Layout>
