---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import Header from '../components/Header.astro';
import BentoGrid from '@/components/BentoGrid.astro';
---

<Layout
  title='Alan Birrueta | Desarrollo web'
  description='Desarrollador web en Mazatlán, creando sitios únicos y funcionales. Explora mi portafolio y transforma tu idea en un sitio web profesional.'
>
  <main>
    <span class='bg-[#23d0dafe]'></span>
    <Header />
    <BentoGrid />
  </main>
</Layout>
