<section
  class='flex gap-4 flex-wrap pt-24 justify-center items-center animate-fade-down'
>
  <article
    class='w-full h-[200px] rounded-lg bg-[#15151510] border border-neutral-700 backdrop-blur-2xl shadow-xl p-4 flex-2 min-w-[300px]'
  >
    <p>Test</p>
  </article>
  <article
    class='w-full h-[200px] rounded-lg bg-[#15151510] border border-neutral-700 backdrop-blur-2xl shadow-xl p-4 flex-1 min-w-[300px]'
  >
    <p>Test</p>
  </article>

  <article
    class='w-full h-[200px] rounded-lg bg-[#15151510] border border-neutral-700 backdrop-blur-2xl shadow-xl p-4 flex-1 min-w-[300px]'
  >
    <p>Test</p>
  </article>

  <article
    class='w-full h-[200px] rounded-lg bg-[#15151510] border border-neutral-700 backdrop-blur-2xl shadow-xl p-4 flex-1 min-w-[300px]'
  >
    <p>Test</p>
  </article>

  <article
    class='w-full h-[200px] rounded-lg bg-[#15151510] border border-neutral-700 backdrop-blur-2xl shadow-xl p-4 flex-1 min-w-[300px]'
  >
    <p>Test</p>
  </article>
</section>
