<section
  class='flex gap-4 flex-wrap pt-24 justify-center items-center animate-fade-down'
>
  <article
    class='w-[500px] h-[200px] rounded-lg bg-gradient-to-r from-[#191a1c] to-[#141516] border border-neutral-800'
  >
  </article>

  <article
    class='w-[500px] h-[200px] rounded-lg bg-gradient-to-r from-[#191a1c] to-[#141516] border border-neutral-800'
  >
  </article>

  <article
    class='w-[500px] h-[200px] rounded-lg bg-gradient-to-r from-[#191a1c] to-[#141516] border border-neutral-800'
  >
  </article>
  <article
    class='w-[500px] h-[200px] rounded-lg bg-gradient-to-r from-[#191a1c] to-[#141516] border border-neutral-800'
  >
  </article>
</section>
