---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import '@fontsource/geist-sans';
import TopBlur from '../components/TopBlur.astro';
import BottomBlur from '@/components/BottomBlur.astro';
import NavMenu from '../components/NavMenu';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='avatar.jpg' />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <TopBlur />
    <div class='mx-auto max-w-6xl sm:py-36 py-24 px-4'>
      <slot />
    </div>
    <NavMenu client:load />
    <BottomBlur />
    <style is:global>
      html {
        color-scheme: dark;
      }
      body {
        font-family: 'Geist Sans', sans-serif;
        background-image: url('/gradient.svg');
        background-position: top;
        background-repeat: no-repeat;
      }
      p {
        text-wrap: pretty;
      }
    </style>
  </body>
</html>
